.EstablishmentBox {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.FilterBox{
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
}