.NavList{
    list-style: none;
    display: flex;
    column-gap: 20px;
    margin: 5px;
}

.NavList a{
    text-decoration: none;
    color: black;
}
.EstContainer {
    display: flex;
    flex-direction: column;

}

.DivEst {
    display: flex;
    column-gap: 40px;
    background-color: white;
    padding: 20px;
    margin: 10px;
    align-items: center;
}

.Img {
    height: 150px;
    background-color: darkgrey;
    width: 20%;
}